<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
<script>
  const socket = io('http://localhost:8065/api/v4/websocket', {
    auth: {
      "seq": 1,
      "action": "authentication_challenge",
      "data": {
        "token": "mh5ba83edpfti8jrurjakd6huo"
      }
    },
  });
  socket.on("connect", (data) => {
    console.log('connected', data)
  })
  socket.on('connect_error', (error) => {
    console.error('Connection errorss:', error);
  });
  console.log(socket)
</script>
