<template>
  <div>
    <div v-if="showLogin" class="authen form-group row">
      <input class="mr-3" type="text" placeholder="email" v-model="email">
      <button @click="loginMattermost">Authen</button>
    </div>
    <div v-if="showBoxList">
      <div  class="box-list-user">
        <div class=" p-3 d-flex justify-content-center border-bottom font-weight-bold">Đoạn Chat</div>
        <div>
          <div v-for="(user, key) in formatUserList" @click="handleShowBoxChat(user.id)" class="item p-3 border-bottom w-100 font-weight-bold text-muted" style="position: relative">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                 alt="avatar 1" style="width: 45px; height: 100%;">
            <span>{{ user.username }}</span>
            <div class="user-online" :style="(user.is_online === 'online' || user.is_online === 'away') ? 'background: green' : 'background: darkgray'"></div>
          </div>
        </div>
      </div>
    </div>
    <section v-show="showBoxChat" class="main-chat" id="main-chat">
      <div class="container py-5">
        <div class="row d-flex">
          <div class="col-md-12 col-lg-12 col-xl-12">
            <div class="card" id="chat2">
              <div class="card-header d-flex justify-content-between align-items-center p-3 mb-2">
                <h5 class="mb-0">Chat</h5>
              </div>
              <div id="chat-scroll" class="">
                  <div v-for="message in messages" :class="message.user_id == currentUserId ? 'd-flex flex-row justify-content-start mb-4' : 'd-flex flex-row justify-content-end mb-4 pt-1'">
                    <img v-if="message.user_id == currentUserId" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                         alt="avatar 1" style="width: 45px; height: 100%;">
                    <div v-if="message.user_id == currentUserId">
                      <p class="small p-2 ms-3 mb-1 rounded-3 text-white bg-primary">{{message.message}}</p>
                      <p class="small ms-3 mb-3 rounded-3">00:07</p>
                    </div>

                    <div v-if="message.user_id != currentUserId">
                      <p class="small p-2 me-3 mb-1 rounded-3" style="background-color: #f5f6f7;">{{message.message}}</p>
                      <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">00:06</p>
                    </div>
                    <img v-if="message.user_id != currentUserId" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp"
                         alt="avatar 1" style="width: 45px; height: 100%;">
                  </div>
              </div>
              <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                     alt="avatar 3" style="width: 40px; height: 100%;">
                <input v-model="message" @keyup.enter="postMessage" type="text" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="Type message">
<!--                <input type="file" style="width:200px" @change="handleFile($event)">-->
                <a class="ms-1 text-muted" href="#!"><i class="fas fa-paperclip"></i></a>
                <a class="ms-3 text-muted" href="#!"><i class="fas fa-smile"></i></a>
                <a class="ms-3" href="#!"><i class="fas fa-paper-plane"></i></a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <div v-if="showBoxChat" class="icon-live-chat" @click="showBoxChat = false">
      <span>x</span>
    </div>
    <div v-else class="icon-live-chat" @click="checksession">
      <span>Chat</span>
    </div>
  </div>
</template>

<style lang="css">
.authen {
  height: 250px;
  width: 350px;
  background: #d5e9e2;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  border-radius: 10px;
}
.user-online {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50px;
  left: 46px;
  border-radius: 50px;
}
.box-list-user {
  width: 280px;
  background: #ece9eb;
  min-height: 425px;
  max-height: 452px;
  position: absolute;
  bottom: 40px;
  right: 80px;
  border-radius: 10px;
  overflow-y: auto;
}
#chat2 {
  border-radius: 15px;
  box-shadow: 2px 3px 20px -3px;
}
  #chat2 .form-control {
    border-color: transparent;
  }

  #chat2 .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 1px transparent;
  }

  .divider:after,
  .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
  }
  .rounded-3 {
    border-radius: 15px;
  }
  .main-chat {
    width: 400px;
    position: absolute;
    bottom: 15px;
    right: 50px;
  }
  .icon-live-chat {
    width: 50px;
    background: cadetblue;
    height: 50px;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 1px 4px 10px -2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: brown;
    font-weight: bold;
    position: absolute;
    bottom: 25px;
    right: 20px;
  }
  #chat-scroll {
    position: relative;
    height: 400px;
    overflow-y: auto;
    padding: 0 20px;
  }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
export default {
  data() {
    return {
      showBoxList: false,
      showBoxChat: false,
      channelId: null,
      message: null,
      messages: {},
      userList: [],
      currentUserId: null,
      userParticipantsID: null,
      email: null,
      hasLogin: false,
      userParticipants: [],
      userOnline: [],
      messageUnread: [],
      showLogin: false,
      websocket: null,
      countState: this.$store.state.auth.count,
    }
  },
  async fetch() {
  },
  beforeMount() {

  },
  created() {

  },
  mounted() {
    this.scrollToBottom()
    console.log(process.env.PERSONAL_ACCESS_TOKEN)
    localStorage.setItem('mattermost_person_access_token', process.env.PERSONAL_ACCESS_TOKEN)
    if (localStorage.getItem('user_mattermost')) {
      this.currentUserId = JSON.parse(localStorage.getItem('user_mattermost')).id
    }
    this.getUserMattermost()
  },

  computed: {
    formatUserList() {
      return this.userList.filter(item => {
        this.userOnline.map(it => {
          if (it.user_id == item.id) {
            item.is_online = it.status
          }
        })
        return !item.is_bot && item.id !== JSON.parse(localStorage.getItem('user_mattermost')).id
      })
    },
  },
  methods: {
    checksession() {
      if (!localStorage.getItem('mattermost_user_token')) {
        return this.showLogin = !this.showLogin
      }
      return this.showBoxList = !this.showBoxList
    },
    scrollToBottom() {
      var objDiv = document.getElementById("chat-scroll");
      objDiv.scrollTop = objDiv.scrollHeight;
    },
    async getMessageAllByChannels(channelId) {
      const headers = {
        'Authorization': `Bearer ${localStorage.getItem('mattermost_person_access_token')}`
      }
      let endpoint = 'api/v4/channels/:channelId/posts'.replace(':channelId', channelId)
      await this.$axios.get( endpoint, { headers: headers }).then(response => {
        this.messages = Object.values(response.data.posts)
        this.messages.sort((a, b) => a.create_at - b.create_at)
      }).catch(error => {
        console.log(error.response)
      })
    },
    async getUserMattermost() {
      const headers = {
        'Authorization': `Bearer ${localStorage.getItem('mattermost_person_access_token')}`
      }
      await this.$axios.get( '/api/v4/users', { headers: headers }).then(response => {
        this.userList = response.data
        this.userList.map(item => {
          this.userParticipants.push(item.id)
        })
        this.getUserActive(this.userParticipants)
      }).catch(error => {
        console.log(error.response)
      })
    },
    async loginMattermost() {
      const headers = {
        'Authorization': `Bearer ${localStorage.getItem('mattermost_person_access_token')}`
      }
      let data = {
        "login_id": this.email,
        "password": "123456"
      }
      await this.$axios.post( '/api/v4/users/login', data, { headers: headers }).then(response => {
        localStorage.setItem('user_mattermost', JSON.stringify(response.data))
        this.currentUserId = response.data.id
        this.createAccessToken(response.data.id)
        alert('login mattermost thanh cong')
        this.showLogin = false
        this.showBoxList = true
      }).catch(error => {
        console.log(error.response)
      })
    },
    async changeRoleUser(userId) {
      const headers = {
        'Authorization': `Bearer ${localStorage.getItem('mattermost_person_access_token')}`
      }
      let endpoint = 'api/v4/users/:userId/roles'.replace(':userId', userId)
      let data = {
        "roles": "system_user system_user_access_token"
      }
      await this.$axios.post(endpoint, data, { headers: headers }).then(response => {
        console.log(response.data)
      }).catch(error => {
        console.log(error.response)
      })
    },
    async createAccessToken(userId) {
      await this.changeRoleUser(userId)
      const headers = {
        'Authorization': `Bearer ${localStorage.getItem('mattermost_person_access_token')}`
      }
      let data = {
        "description": "create access toke user2"
      }
      let endpoint = '/api/v4/users/:userId/tokens'.replace(':userId', userId)
      await this.$axios.post( endpoint, data, { headers: headers }).then(response => {
        localStorage.setItem('mattermost_user_token', response.data.token)
        this.$store.dispatch('auth/connectWebSocket', response.data.token)
      }).catch(error => {
        console.log(error.response)
      })
    },
    async createChannelsMessage(userParticipantsID) {
      const headers = {
        'Authorization': `Bearer ${localStorage.getItem('mattermost_person_access_token')}`
      }
      let data = [userParticipantsID, JSON.parse(localStorage.getItem('user_mattermost')).id]
      let endpoint = '/api/v4/channels/direct'
      await this.$axios.post( endpoint, data, { headers: headers }).then(response => {
        console.log('create-channel', response.data)
        this.channelId = response.data.id
        this.getMessageAllByChannels(this.channelId)
      }).catch(error => {
        console.log(error.response)
      })
    },
    handleShowBoxChat(userParticipantsID) {
      this.showBoxChat = !this.showBoxChat
      this.showBoxList = false
      this.createChannelsMessage(userParticipantsID)
      setTimeout(this.scrollToBottom, 500)
    },

    async postMessage(e) {
      const headers = {
        'Authorization': `Bearer ${localStorage.getItem('mattermost_user_token')}`
      }
      let data = {
        "file_ids": [],
        "message": this.message,
        "props": {
          "disable_group_highlight": true
        },
        "channel_id": this.channelId
      }
      let endpoint = '/api/v4/posts'
      await this.$axios.post( endpoint, data, { headers: headers }).then(response => {
        console.log('pos-message', response.data)
        this.messages.push( response.data)
        this.message = ''
        data = {}
        this.$socket.addEventListener('message', (event) => {
          if (JSON.parse(event.data).event === 'posted') {
            let post = JSON.parse(JSON.parse(event.data).data.post)
            console.log('post event', post)
            this.getMessageAllByChannels(post.channel_id)
            this.getUserMattermost()
            setTimeout(this.scrollToBottom, 500)
          }
        });
        setTimeout(this.scrollToBottom, 500)
      }).catch(error => {
        console.log(error.response)
      })
    },

    getUserActive(userIds) {
      const headers = {
        'Authorization': `Bearer ${localStorage.getItem('mattermost_user_token')}`
      }
      this.$axios.post('api/v4/users/status/ids', userIds, { headers: headers }).then(response => {
        console.log(response.data)
        this.userOnline = response.data
      }).catch(error => {
        console.log(error.response)
      })
    },

    handleFile(e) {
      console.log(e)
      let headers = {
        headers: {
          'Content-Type': 'multipart/form-data',
          'Authorization': `Bearer wa4moocsnfnd8ji81wgoqakpuc`,
        }
      }
      const image = e.target.files[0];
      const formData = new FormData()
      formData.append('image', image)
      console.log(formData)
      // const reader = new FileReader();
      // reader.readAsDataURL(image);
      // console.log(reader)
      // reader.onload = e =>{
      //   this.previewImage = e.target.result;
      // };
      let data = {
        'channel_id': this.channelId,
        'filename': image.name,
        'files': formData
      }
      this.$axios.post( '/api/v4/files', data, { headers: headers }).then(response => {
        console.log('pos-message', response.data)
        this.message = ''
      }).catch(error => {
        console.log(error.response)
      })
    }
  }
}
</script>
